body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("/public/fundo-secret-word.jpg");
  background-size: cover;
  color: var(--white);
}

body,
html {
  height: 100%;
  font-size: 16px;
}

:root {
  --primary-color: #f637ec;
  --secondary-color: #086972;
  --white: #fff;
  --black: #000;
}

button {
  background-color: var(--secondary-color);
  color: var(--white);
  border: 2px solid var(--white);
  padding: 5px 50px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: var(--white);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
